.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  padding: 7px 20px;
}

.menu-items {
  /* background-color: red; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.menu-item {
  /* background-color: blue; */
  padding: 5px 15px;
  border-radius: 5px;
  /* border: 1px solid yellow; */
}
/* .menu-item:hover {
  padding: 5px 15px;
  border-radius: 5px;
  color: red;
  border: 1px solid white;
} */
.menu-item a {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-item a:hover {
  text-decoration: none;
  color: red;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c2c1c1;
  width: 25px;
  height: 25px;
  padding: 5px 5px;
  border-radius: 50%;
  font-size: 20px;
}

.github,
.twitter {
  color: black;
}
.linked-in {
  color: blue;
}
.insta {
  color: rgb(232, 36, 69);
}
.logo {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
