@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 100px 40px;
  /* background-color: red; */
  font-family: Heebo;
}
.text-content-container {
  width: 40%;
  h1 {
    color: black;
    font-weight: 900;
    font-family: Heebo;
  }
  p {
    font-weight: 400;
    color: #3e3e40;
  }
  button {
    padding: 10px 15px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}
.image-content-container {
  img {
    width: 300px;
    height: 300px;
  }
}
